@CHARSET "UTF-8";

@media all{
    * {margin:0; padding:0;}
    * html body * {overflow:visible;}
    * html iframe, * html frame {overflow:auto;}
    * html frameset {overflow:hidden;}
    html {height: 100%;}
    body{background:url("../images/body_bg.png") 0 0; font-size:12px; font-family:"Dotum", "Gulim", "Arial", "AppleGothic", "sans-serif"; letter-spacing:normal; -webkit-letter-spacing:0; line-height:180%; text-align:left; color:#333; -webkit-text-size-adjust:none;}

    /* basic tags reset */
    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0; padding:0; -webkit-text-size-adjust:none;}
    table{border-collapse:collapse;border-spacing:0;}
    form,fieldset,img{margin:0;padding:0;border:0}
    address,button,caption,em,optgroup,option,select,textarea,th{font:inherit}
    li{list-style:none}
    h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
    input, form img, select{vertical-align: middle;}
    legend{font-size:0; line-height:0; width:0; height:0; position: absolute; left:-9000px; visibility:hidden;}
    em{font-style:normal;}
  
    /* link */
    a,
    a:link,
    a:visited{color:#202020; background:none;}
    a:hover{color:#3484b0; background:none;}

    /* align */
    .float_left{float:left !important;}
    .float_right{float:right !important;}
    .clear{clear:both !important;}
    .block{display:block !important;}
    .inline_block{display:inline-block !important;}
    .align_center{text-align:center !important;}
    .align_right{text-align:right !important;}
    .align_left{text-align:left !important;} 
    .vm{vertical-align: middle !important;}
    .mt35{margin-top:35px;}
    .mt10{margin-top:10px;}
    .mt202{margin-top:202px;}
    .mr5{margin-right:5px;}
    .mb10{margin-bottom:10px;}
    
    /* other */
    .hide{display:none !important;}
    .ellipsis {overflow:hidden; white-space:nowrap; text-overflow:ellipsis;  word-break:normal !important; word-wrap:normal !important;}

    
    /* form */
    input, select, option, textarea {font-family:"Dotum", "Gulim", Arial, AppleGothic, sans-serif; font-size:12px; color:#555; vertical-align: middle;}
    textarea {padding:5px;}
    input[type=text]{border:1px solid #ccc;  padding: 0 2px; height:19px; line-height:19px; vertical-align: middle;}
    input[type=checkbox]{vertical-align: middle;}

	/*---- tab ----*/
	.tab1{height:29px;}
	.tab1 li{margin-right:-1px;}
	.tab1 li,
	.tab1 li a{float:left; display:inline-block; background:url(../images/bg_tab2_off.gif) no-repeat; height:29px; line-height:29px;}
	.tab1 li a{padding:0 15px; text-decoration:none; font-weight:bold; color:#666;  background-position: 100% 0;}
	.tab1 li a:hover{color:#000;}
	.tab1 li.on,
	.tab1 li.on a{background:url(../images/bg_tab2_on.gif) no-repeat;}
	.tab1 li.on a{color:#3376b8; background-position: 100% 0;}
	
	/* table */
	.table_cal{width:1005px; border-top:1px solid #5B8DB0;  border-right:1px solid #aeaeae;}
	.table_cal thead tr th{background:#DAEAF0 url("../images/icon_bg.png") 0px -500px no-repeat; border-top:1px solid #aeaeae; border-bottom:1px solid #aeaeae; font-weight:bold; text-align:center; heighgt:25px; line-height:25px;}
	.table_cal thead tr th a{text-decoration:none;}
	.table_cal tbody tr td{background:#fff url("../images/icon_bg.png") 0px -500px no-repeat; border-top:1px solid #aeaeae;  border-bottom:1px solid #aeaeae; text-align:center; heighgt:25px; line-height:25px;}
	.table_cal tbody tr:hover td{background:#f0f5f9 url("../images/icon_bg.png") 0px -500px no-repeat;}
	.table_cal .week, 
	.table_cal .sun,
	.table_cal .sat{background:#EBEBEB url("../images/icon_bg.png") 0px -500px no-repeat; font-weight:normal;}
	.table_cal .sun{color:#FF0033;}
	.table_cal .sat{color:#003399}
	.table_cal .car_name{width:140px; display:inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;  word-break:normal !important; word-wrap:normal !important;}
	.table_cal .car_name1{width:75px; display:inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;  word-break:normal !important; word-wrap:normal !important;}
	
	.table_01{width:100%; border-top:2px solid #4e5b68;}
	.table_01 thead tr th,
	.table_01 tbody tr th{background:#eff3f8; color:#333; font-weight:bold; text-align:center;}
	.table_01 thead tr th,
	.table_01 tbody tr th,
	.table_01 tbody tr td{padding:3px 4px; border:1px solid #E4E4E4; line-height:25px;}
	.table_01 tbody tr td{background:#fff;}
	.table_01 .bg_pink{background:#FEE5DD;}
	.table_01 .bg_blue{background:#83ACD2;}
	.table_01 .money{text-align:right; color:#52b2a0; font-weight:bold;}
	.table_01 .money1{text-align:right; color:#f36c4f; font-weight:bold;}
	
	.table_02{width:100%;}
	.table_02 thead tr th,
	.table_02 tbody tr th{background:#DAEAF0; color:#333; font-weight:bold; text-align:center;}
	.table_02 thead tr th,
	.table_02 tbody tr th,
	.table_02 tbody tr td{padding:0 4px; line-height:30px; border:1px solid #DCDCDC; }
	.table_02 tbody tr td{background:#fff;}
	.table_02 tbody tr:hover td{background:#f0f5f9;}
	
	.table_03{border-top:2px solid #4e5b68;}
	.table_03 thead tr th,
	.table_03 tbody tr th{background:#eff3f8; color:#333; font-weight:bold; text-align:center;}
	.table_03 tbody tr th,
	.table_03 tbody tr td{padding:3px 4px; border:1px solid #E4E4E4; line-height:25px;}
	.table_03 tbody tr td{background:#fff;}
	
	/* ---- button ---- */
	.btn_wrap{width:100%; display:inline-block; clear:both; padding:10px 0;}
	.btn_base,
	.btn_base *{background: url(../images/btn_pack.gif) 0 0 no-repeat; height:21px; line-height:22px; display:inline-block; position:relative; margin:0; padding:0; font-size:12px; color:#354A5E; text-decoration:none !important; vertical-align:middle;}
	.btn_base *{cursor:pointer;_cursor:hand; padding:0 7px;}
	.btn_base a,
	.btn_base button,
	.btn_base input{background: url(../images/btn_pack.gif) right top no-repeat;  font-weight:bold; height:21px; line-height: 22px; color:#354A5E; margin-right:-1px;}
	.btn_base a span{display:inline-block; padding:0; margin-right:5px; vertical-align:inherit;}
	.btn_base .print{background-position:-432px -92px; width:16px; height:16px;}
	.btn_base .search{background-position:-7px -64px; width:13px; height:13px;}
	.btn_base .excel{background-position:-149px -91px; width:16px; height:16px;}
	
	.btn_base1,
	.btn_base1 *{background: url(../images/btn_pack.gif) 0 -25px no-repeat !important; height:27px; line-height:27px; display:inline-block; position:relative; margin:0; padding:0; font-size:12px; color:#354A5E; text-decoration:none !important; vertical-align:middle;}
	.btn_base1 *{cursor:pointer;_cursor:hand; padding:0 7px;}
	.btn_base1 a,
	.btn_base1 button,
	.btn_base1 input{background: url(../images/btn_pack.gif) right -25px no-repeat !important; font-weight:bold; height:27px; line-height: 27px; color:#354A5E; margin-right:-1px;}
	.btn_base1 a span{display:inline-block; padding:0; margin-right:5px; vertical-align:inherit;}

	
	/*---- paginate ----*/
	.paginate{display:inline-block; width:100%; text-align:center; padding:3px 0; font-size:12px; font-weight:bold; position:relative; z-index:1000;}
	.paginate a{padding:0 5px; vertical-align:middle; text-decoration:none; color:#202020;}
	.paginate a:hover,
	.paginate a.current{color:#FF6600; text-decoration:none;}
}