@charset "utf-8";
/* CSS Document */

/***********************[       Button       ]*********************************************************************************************************************************/
#btnBox { display:inline-block;width:100%;border-left:solid 1px #a0aab3;border-right:solid 1px #a0aab3;border-bottom:solid 1px #a0aab3;background:#e8ecf1;padding:7px 15px;margin-bottom:15px;text-align:right;}
#btnBox2 {text-align:right;margin-top:10px;}
* html #btnBox {width:100%;}

#gBtn6 a{display:block; background:url('../images/gBtn6_bg.gif') left 0; float:left; font:12px 굴림; color:#555; padding-left:6px; text-decoration:none; height:27px; cursor:pointer; margin-right:3px; overflow:hidden}
#gBtn6 a:hover{background:url('../images/gBtn6_bg.gif') left -27px}
#gBtn6 a span{display:block; float:left; background:url('../images/gBtn6_bg.gif') right 0; line-height:240%; padding-right:6px; height:27px; overflow:hidden}
#gBtn6 a:hover span{background:url('../images/gBtn6_bg.gif') right -27px; color:#0A82A7}

.btnWrap{margin-top:15px}
.btn_pack,
.btn_pack *{display:inline-block;overflow:visible;position:relative;margin:0;padding:0;border:0;background: url(../images/btn_pack.gif) no-repeat;font-size:12px;font-weight:bold;font-family:Arial, Sans-serif;color:#354a5e;text-decoration:none !important;vertical-align:top;white-space:nowrap}
.w100 a {width:82px;}
.btn_pack{margin-right:4px}
.btn_pack *{left:4px;cursor:pointer;_cursor:hand}
.btn_pack.small, .btn_pack.small *{height:21px;line-height:22px;}
.btn_pack.medium, .btn_pack.medium *{height:27px;line-height:27px}
.btn_pack.small{background-position:left 0}
.btn_pack.medium{background-position:left -25px}
.btn_pack.small *{padding:0 9px 0 5px;background-position:right top;font-size:12px}
.btn_pack.medium *{padding:0 15px 0 10px;background-position:right -25px;font-size:12px}
.btn_pack *:link, .btn_pack *:hover, .btn_pack *:active, .btn_pack *:focus, .btn_pack *:visited{color:#354a5e}
.btn_pack.strong *{font-weight:bold !important}
.btn_pack.icon *{padding-left:20px}
.btn_pack.small.icon *{padding-left:18px}
.btn_pack.small span{width:20px;margin-right:-12px;padding:0 !important;}
.btn_pack.medium span{width:24px;margin-right:-13px;padding:0 !important;}


.btn_pack.small .accept  {background-position:-145px -60px;}
.btn_pack.small .add  {background-position:-173px -60px;}
.btn_pack.small .answer  {background-position:-257px -60px;}
.btn_pack.small .approval  {background-position:-427px -60px;}
.btn_pack.small .assign2  {background-position:-60px -145px;}
.btn_pack.small .app  {background-position:-257px -88px;}
.btn_pack.small .app_add  {background-position:-286px -88px;}
.btn_pack.small .app_del  {background-position:-315px -88px;}
.btn_pack.small .app_edit  {background-position:-344px -88px;}
.btn_pack.small .app_double  {background-position:-373px -88px;}
.btn_pack.small .app_cascade  {background-position:-400px -88px;}
.btn_pack.small .assignto  {background-position:-203px -88px;}
.btn_pack.small .back  {background-position:-59px -88px;}
.btn_pack.small .browse  {background-position:-3px -88px;}
.btn_pack.small .bottom  {background-position:-62px -116px;}
.btn_pack.small .close {background-position:-91px -145px;}
.btn_pack.small .cancel  {background-position:-343px -60px;}
.btn_pack.small .category  {background-position:-201px -60px;}
.btn_pack.small .create  {background-position:-402px -60px;}
.btn_pack.small .copy  {background-position:-287px -60px;}
.btn_pack.small .confirm  {background-position:-145px -60px;}
.btn_pack.small .certificate  {background-position:-88px -118px;}
.btn_pack.small .certificate2  {background-position:-118px -118px;}
.btn_pack.small .check  {background-position:-405px -118px;}
.btn_pack.small .compose  {background-position:-33px -88px;}
.btn_pack.small .delete  {background-position:-87px -60px;}/*{background-position:-229px -60px;}*/
.btn_pack.small .download  {background-position:-515px -60px;}
.btn_pack.small .delegation  {background-position:-287px -117px;}
.btn_pack.small .download_template  {background-position:-36px -143px;}
.btn_pack.small .detail  {background-position:-545px -117px;}
.btn_pack.small .excel  {background-position:-145px -88px;}
.btn_pack.small .excute {background-position:-231px -117px;}
.btn_pack.small .edit  {background-position:-570px -60px;}
.btn_pack.small .find {background-position:0px -60px;}/*{background-position:-202px -117px;}*/
.btn_pack.small .group  {background-position:-573px -117px;}
.btn_pack.small .history {background-position:-514px -88px;}
.btn_pack.small .icon_save  {background-position:-6px -144px;}
.btn_pack.small .list  {background-position:-372px -60px;}
.btn_pack.small .login {background-position:-4px -172px;}/*{background-position:-146px -117px;}*/
.btn_pack.small .load  {background-position:-91px -87px;}
.btn_pack.small .lock   {background-position:-174px -88px;}
.btn_pack.small .modify  {background-position:-570px -60px;}/*{background-position:-315px -60px;}*/
.btn_pack.small .mass_registration  {background-position:-260px -117px;}
.btn_pack.small .more  {background-position:-318px -117px;}
.btn_pack.small .map  {background-position:-229px -88px;}
.btn_pack.small .next  {background-position:-119px -144px;}
.btn_pack.small .newrequest  {background-position:-89px -88px;}
.btn_pack.small .ok {background-position:-486px -88px;}
.btn_pack.small .opposition  {background-position:-456px -60px;}
.btn_pack.small .print{background-position:-429px -89px;}
.btn_pack.small .pdf  {background-position:-175px -117px;}
.btn_pack.small .request {background-position:-542px -89px;}
.btn_pack.small .rename  {background-position:-460px -117px;}
.btn_pack.small .retry  {background-position:-486px -117px;}
.btn_pack.small .reload  {background-position:-515px -117px;}
.btn_pack.small .reset {background-position:-30px -60px;}
.btn_pack.small .revise  {background-position:-542px -60px;}
.btn_pack.small .save {background-position:-60px -60px;}
.btn_pack.small .synchro {background-position:-456px -88px;}
.btn_pack.small .submit {background-position:-60px -60px;}/*{background-position:-343px -118px;}*/
.btn_pack.small .search {background-position:0px -60px;}
.btn_pack.small .setup  {background-position:-201px -60px;}/*{background-position:-373px -118px;}*/
.btn_pack.small .send  {background-position:-433px -117px;}
.btn_pack.small .temsave {background-position:-117px -88px;}
.btn_pack.small .top  {background-position:-32px -116px;}
.btn_pack.small .update  {background-position:-487px -60px;}
.btn_pack.small .unlock  {background-position:-145px -117px;}

.btn_pack.medium .accept  {background-position:-142px -58px;}
.btn_pack.medium .add {background-position:-170px -58px;}
.btn_pack.medium .answer {background-position:-254px -58px;}
.btn_pack.medium .approval  {background-position:-427px -58px;}
.btn_pack.medium .assign2  {background-position:-61px -143px;}
.btn_pack.medium .app  {background-position:-254px -86px;}
.btn_pack.medium .app_add  {background-position:-283px -86px;}
.btn_pack.medium .app_del  {background-position:-312px -86px;}
.btn_pack.medium .app_edit  {background-position:-341px -86px;}
.btn_pack.medium .app_double  {background-position:-373px -85px;}
.btn_pack.medium .app_cascade  {background-position:-400px -86px;}
.btn_pack.medium .back  {background-position:-57px -86px;}
.btn_pack.medium .browse  {background-position:0px -86px;}
.btn_pack.medium .bottom  {background-position:-59px -114px;}
.btn_pack.medium .close  {background-position:-88px -142px;}
.btn_pack.medium .cancel  {background-position:-340px -58px;}
.btn_pack.medium .category  {background-position:-198px -58px;}
.btn_pack.medium .create  {background-position:-398px -58px;}
.btn_pack.medium .copy  {background-position:-284px -58px;}
.btn_pack.medium .confirm {background-position:-142px -58px;}
.btn_pack.medium .certificate {background-position:-85px -116px;}
.btn_pack.medium .certificate2 {background-position:-115px -116px;}
.btn_pack.medium .check  {background-position:-402px -115px;}
.btn_pack.medium .compose  {background-position:-30px -86px;}
.btn_pack.medium .delete  {background-position:-84px -58px;}
.btn_pack.medium .download  {background-position:-515px -57px;}
.btn_pack.medium .delegation  {background-position:-284px -115px;}
.btn_pack.medium .download_template  {background-position:-33px -141px;}
.btn_pack.medium .detail {background-position:-542px -115px;}
.btn_pack.medium .excel {background-position:-141px -86px;}
.btn_pack.medium .excute {background-position:-228px -115px;}
.btn_pack.medium .edit {background-position:-567px -58px;}
.btn_pack.medium .find {background-position:0px -58px;}/*{background-position:-199px -115px;}*/
.btn_pack.medium .group  {background-position:-570px -115px;}
.btn_pack.medium .history {background-position:-511px -86px;}
.btn_pack.medium .icon_save  {background-position:-3px -141px;}
.btn_pack.medium .list {background-position:-369px -58px;}
.btn_pack.medium .login {background-position:-3px -170px;}/*{background-position:-143px -115px;}*/
.btn_pack.medium .load  {background-position:-88px -85px;}
.btn_pack.medium .lock   {background-position:-171px -86px;}
.btn_pack.medium .modify {background-position:-567px -58px;}/*{background-position:-312px -58px;}*/
.btn_pack.medium .mass_registration  {background-position:-257px -115px;}
.btn_pack.medium .more  {background-position:-315px -115px;}
.btn_pack.medium .map  {background-position:-226px -86px;}
.btn_pack.medium .next  {background-position:-116px -141px;}
.btn_pack.medium .newrequest  {background-position:-86px -86px;}
.btn_pack.medium .ok {background-position:-483px -86px;}
.btn_pack.medium .opposition  {background-position:-456px -58px;}
.btn_pack.medium .print{background-position:-426px -86px;}
.btn_pack.medium .pdf  {background-position:-172px -115px;}
.btn_pack.medium .request {background-position:-540px -86px;}
.btn_pack.medium .rename  {background-position:-458px -115px;}
.btn_pack.medium .retry  {background-position:-486px -115px;}
.btn_pack.medium .reload  {background-position:-515px -115px;}
.btn_pack.medium .reset {background-position:-27px -58px;}
.btn_pack.medium .revise  {background-position:-539px -58px;}
.btn_pack.medium .save {background-position:-57px -57px;}
.btn_pack.medium .synchro {background-position:-453px -86px;}
.btn_pack.medium .submit  {background-position:-57px -57px;}/*{background-position:-342px -115px;}*/
.btn_pack.medium .search {background-position:0px -58px;}
.btn_pack.medium .setup  {background-position:-198px -58px;}/*{background-position:-372px -115px;}*/
.btn_pack.medium .send  {background-position:-430px -115px;}
.btn_pack.medium .temsave {background-position:-115px -86px;}
.btn_pack.medium .top  {background-position:-29px -114px;}
.btn_pack.medium .update  {background-position:-484px -58px;}
.btn_pack.medium .unlock  {background-position:-142px -115px;}