@charset "utf-8";
/* CSS Document */
@import url(button_jqgrid.css);
/************************************************************************************************************ 
	기본설정 
************************************************************************************************************/
html, body {height: 100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
body {position:relative;background:#fff;-webkit-text-size-adjust: none}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:"돋움";color:#464646;} /* color값은 디자인가이드에 맞게사용 */
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
img,button {border:0 none;}
table {border-collapse:collapse;}
button * {position:relative}
button {border:0 none;background-color:transparent;cursor:pointer}
em,address {font-style:normal;}
textarea {resize:none;}
input,textarea,select {outline:none;}
input,select,textarea,button {vertical-align:middle}
select{height:19px;border:1px solid #adadad;}
input.cm-input-text,
input.cm-input-text-dis {height:19px; line-height:19px;}
input.cm-input-text {border:1px solid #adadad; border-right-color:#cdcdcd; border-bottom-color:#cdcdcd; background-color:#fff;}
input.cm-input-text-dis {border:1px solid #d6d6d6; border-right-color:#e6e6e6; border-bottom-color:#e6e6e6; background-color:#f9f9f9; color:#a4a4a4;}

textarea.cm-textarea,
textarea.cm-textarea-dis {line-height:1.25em; padding:2px 0;}
textarea.cm-textarea {border:1px solid #adadad; border-right-color:#cdcdcd; border-bottom-color:#cdcdcd; background-color:#fff;}
textarea.cm-textarea-dis {border:1px solid #d6d6d6; border-right-color:#e6e6e6; border-bottom-color:#e6e6e6; background-color:#f9f9f9; color:#a4a4a4;}

input.cm-focus,
textarea.cm-focus {border:1px solid #7da7d9;}

select.cm-select {height:21px;}

a {color:#3577e8;text-decoration:none}
a:active, a:hover {text-decoration:underline}


/************************************************************************************************************ 
	브라우저 최소크기 설정
************************************************************************************************************/
html,body {min-width:900px; min-height:600px;}

/************************************************************************************************************ 
	타이틀
************************************************************************************************************/
 h2, h3, h4, h5, h6 {margin:1em 0 0.5em;line-height:1.25em;font-family:Malgun Gothic,맑은고딕,dotum,"돋움";}
h1 { width:150px;}
h2 {font-size:2em;}
h3 {font-size:1.4em;}
h4 {font-size:1.2em;}
h5 {font-size:1em;}
h6 {font-size:1em;}
h1 img {margin-left:10px; margin-top:15px;vertical-align:top;}



/************************************************************************************************************ 
	global class 
************************************************************************************************************/

#daumIndex {overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0;} /* 스킵네비게이션 */
.ir_pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir_wa {display:block;overflow:hidden;position:relative;width:100%;height:100%;z-index:-1} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_out {display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.screen_hide {font-size:0;line-height:0;visibility:hidden} /* screen_out클래스를 사용할 수 없으며, 해당 텍스트를 숨겨야 할때 */

.f_l {float:left !important;}
.f_r {float:right !important;}

.cl_b {clear:both;width:0;height:0;font-size:0;line-height:0}
.show {display:block}
.hide {display:none}
.wrap_page{ width:100%; clear:both; overflow:hidden;}

.align_left {text-align:left;}
.align_center {text-align:center;}
.align_right {text-align:right;}
.c_both{clear:both;}
.nobg{background:none;}
/************************************************************************************************************ 
	레이아웃
************************************************************************************************************/
body{ width:100%;}
#wrap{width:100%; background:url(../images/gnb_bg.png) repeat-x;}
#header{width:100%;position:relative; background:url(../images/gnb_bg.png) repeat-x;}
#container{_display:inline-block;width:100%; margin-top:20px;}
#container:after{display:block;clear:both;content:''}
.snb{float:left;width:180px;margin-right:-200px; background: #FF0}
#content{margin-left:200px;}
#footer{width:100%}

#wrap{}
#header{}
#container{_display:inline-block;width:100%; }
#container:after{display:block;clear:both;content:''}
.snb{float:left;width:180px;margin-right:-200px; background: #FF0}
#content{ background:#FFF}
#footer{width:100%}



.topmenu{ position:absolute; right:8px; top:5px; border:solid 1px #bbbbbb; }
.topmenu li{float:left; padding:4px 8px 1px 8px; font-size:11px; letter-spacing:-1px; vertical-align:top; background:url(../images/topmenu_li_bg.png) no-repeat right top; }
.topmenu  li a {color:#333; text-decoration:none;} 
.topmenu  li a:hover{ font-weight:bold;letter-spacing:-2px; color:#0054a6}
.topmenu  li img{margin-right:4px; margin-top:-3px;vertical-align:middle}


.navi{ float:right}
.navi li{float:left; padding:4px 8px 1px 8px; font-size:11px; letter-spacing:-1px; vertical-align:top;  }




/*navi영역, navi_s라는 클래스,  li의 설정*/

.navi {overflow:hidden; }
.navi_s {overflow:hidden;width:1024px;height:41px;list-style:none;float:left;margin:0;padding:0 ; background:url(../images/navi_bg.png) repeat-x 80px 4px;}

.navi_s li {float:left;}
.navi_s li a span {display:none;}
.navi_s li a {background:url(../images/navi.png) no-repeat;}
.navi_s li a {height:41px;width:100px;display:block;}

 

/*백그라운드 이미지의 포지션설정*/

.navi .n01 a {width:177px;background-position:0px 0px;}
.navi .n01 a:hover {width:177px;background-position:0px -41px;}


.navi .n02 a {width:108px;background-position:-176px -0px;}
.navi .n02 a:hover {width:108px;background-position:-176px -41px;}


.navi .n03 a {width:105px;background-position:-286px -0px;}
.navi .n03 a:hover {width:105px;background-position:-286px -41px;}


.navi .n04 a {width:105px;background-position:-380px -0px;}
.navi .n04 a:hover {width:105px;background-position:-380px -41px;}

.navi .n05 a {width:110px;background-position:-494px -0px;}
.navi .n05 a:hover {width:110px;background-position:-494px -41px;}

.navi .n06 a {width:102px;background-position:-603px -0px;}
.navi .n06 a:hover {width:102px;background-position:-603px -41px;}

.navi .n07 a {width:124px;background-position:-704px -0px;}
.navi .n07 a:hover {width:124px;background-position:-704px -41px;}





/************************************************************************************************************ 
	lnb
************************************************************************************************************/
.group_menu_v{position:relative; float:left;width:180px;}
.group_menu_v h2{height:30px; background:#2574be; color:#FFF; padding:8px; margin-bottom:10px;border-bottom:5px solid #0c57a2; text-align:center}
.group_menu_v ul{margin:0;padding:0;list-style:none}
.group_menu_v li{position:relative;margin:0 0 -1px 0;vertical-align:top;*zoom:1}
.group_menu_v li a{display:block;position:relative;padding:3px 5px;color:#fff;font-weight:bold;text-decoration:none;background:#85b0d8;border:1px solid #789fc3;*zoom:1}
.group_menu_v li a .i{position:absolute;top:50%;left:100%;width:8px;height:8px;margin:-4px 0 0 -16px;color:#ccc;background:url(../images/ico_sub.gif) no-repeat left top}
.group_menu_v li ul{padding:5px 0;background:#fff}
.group_menu_v li li{margin:0}
.group_menu_v li li a{padding:2px 4px;border:0;background:#fff;font-weight:normal}
.group_menu_v li li a span{color:#666}
.group_menu_v li.active{z-index:2;border:1px solid #ccc}
.group_menu_v li li.active{border:0}
.group_menu_v li.active a{border:0;color:#000}
.group_menu_v li.active .i{background-position:0 -44px}
.group_menu_v li.active li a{border:0}
.group_menu_v li.active ul{display:block;border-top:1px solid #eee}
.group_menu_v li.active li.active a span{font-weight:bold;color:#4182d2;letter-spacing:-1px}



/************************************************************************************************************ 
	그리드
************************************************************************************************************/
.grid_5 {width:5%;}
.grid_10 {width:10%;}
.grid_15 {width:15%;}
.grid_20 {width:20%;}
.grid_25 {width:25%;}
.grid_30 {width:30%;}
.grid_35 {width:35%;}
.grid_40 {width:40%;}
.grid_45 {width:45%;}
.grid_50 {width:50%;}
.grid_55 {width:55%;}
.grid_60 {width:60%;}
.grid_65 {width:65%;}
.grid_70 {width:70%;}
.grid_75 {width:75%;}
.grid_80 {width:80%;}
.grid_85 {width:85%;}
.grid_90 {width:90%;}
.grid_95 {width:95%;}

/************************************************************************************************************ 
	그리드
************************************************************************************************************/

/* 그리드 10줄 이상 스크롤 */
.scrollbox2 {width:100%;height:312px;overflow-y:scroll;border:solid 1px #a0aab3;text-align:left;}

/* list_table */
.list_table{clear:both;width:1080px;border:1px solid #aeaeae;border-collapse:collapse}
.list_table th{border:1px solid #c2c6cc;border-top:1px solid #5b8db0;background:#daeaf0;text-align:center}
.list_table th{padding:3px 3px 1px}
.list_table td{padding:2px 3px 1px;border:1px solid #dcdcdc}
.list_table img,.list_table span{vertical-align:middle}
.list_table td a:hover{text-decoration:underline}

/* list_total */
.list_table tr.total th,.list_table th.total{border:1px solid #e7e7e7;background:#fffde5!important;color:#ff5400;text-align:left}
.list_table tr.total td,.list_table td.total,.list_table th.amount{background:#fffde5!important;color:#ff5400;text-align:right}
.list_table tr.sub_total th,.list_table th.sub_total{border:1px solid #e7e7e7;background:#f9ffe5;text-align:left}
.list_table tr.sub_total td,.list_table td.sub_total{background:#f9ffe5!important;text-align:right}

/* list_variety */
.list_table tr.line td{border-bottom:1px solid #aeaeae}
.list_table tr.alt th{background:#edf7fb}
.list_table tr.over{background:#f0f5f9}
.list_table tr:hover td{background:#f0f5f9}
.list_table td.tc{text-align:center}
.list_table td.tr{text-align:right}
.list_table td.head1{background:#f5fbfe}
.list_table td.head2{background:#f8f8f6}
.list_table td.head3{background:#f9f9f9}
.list_table th input,.list_table td input{vertical-align:middle}
.over_none tr:hover td{background:none}
.over_none tr:hover td.head1{background:#f8fcfe}
.over_none tr:hover td.head2{background:#f8f8f8}
.over_none tr:hover td.head3{background:#f9f9f9}

/* list_pagination */
.list_table td.pagination{background:#f7f7f7;text-align:right}
.list_table td.pagination .btn_list_sm{margin-right:5px;margin-left:-2px}
.list_table td.pagination select{margin-right:5px}
.list_table td.pagination img{margin-right:3px}
.list_table td.pagination .pt{margin-left:10px}
.list_table td.pagination select, .list_table td.pagination img, .list_table td.pagination span{vertical-align:middle}

/************************************************************************************************************ 
	검색
************************************************************************************************************/

 /* form_table */
 
.form_table{clear:both;width:1080px;margin-bottom:10px; margin-top:10px;border-collapse:collapse}
.form_table{border:1px solid #d8d5d5;border-top:2px solid #4e5b68}
.form_table th,.form_table td{padding:4px 5px 2px;border-bottom:1px solid #e4e4e4;vertical-align:top}
.form_table th{background:#eff3f8; color:#333}
.form_table th.sub{padding-left:11px;background:#fff url(../images/common/buls.gif) no-repeat 5px -207px;color:#4f95a7}
.form_table tr.sub_line th.sub,.form_table tr.sub_line td{border-bottom:none;}
.form_s{border:1px solid #e4e4e4;border-top:1px solid #3fa5be}
.form_table td{vertical-align:middle;}
.form_table td img{vertical-align:middle;}
.form_s th{background:#f3f8fa}
.form_table .total{color:#ff5400}
.form_table th.total{background:#fffbce}
.form_table td.total{background:#fffde5;text-align:right}
.form_table td.img_seelct{vertical-align:middle}
.form_table td.img_seelct img{display:block;margin:5px 0}
.form_table td.pd_0{padding:0}
.form_table td.t_location{font-weight:bold; color:#06C;}
.form_table td.charge{font-weight:bold ; color:#52b2a0; text-align:right}
.form_table td.charge2{font-weight:bold ; color:#f36c4f; text-align:right}

form_table_stA
.form_table_st01{clear:both;width:100%;margin-bottom:10px; margin-top:10px;border-collapse:collapse}
.form_table_st01{border:1px solid #c7bfbd;border-top:2px solid #4e5b68}
.form_table_st01 th,.form_table_st01 td{padding:4px 5px 2px;border-bottom:1px solid #e4e4e4;vertical-align:top}
.form_table_st01 th{background:#fee5dd; color:#333}
.form_table_st01 th.sub{padding-left:11px;background:#fff url(../images/common/buls.gif) no-repeat 5px -207px;color:#4f95a7}
.form_table_st01 tr.sub_line th.sub,.form_table_st01 tr.sub_line td{border-bottom:none}
.form_s{border:1px solid #e4e4e4;border-top:1px solid #3fa5be}
.form_s th{background:#f3f8fa}
.form_table_st01 .total{color:#ff5400}
.form_table_st01 th.total{background:#fffbce}
.form_table_st01 td.total{background:#fffde5;text-align:right}
.form_table_st01 td.img_seelct{vertical-align:middle}
.form_table_st01 td.img_seelct img{display:block;margin:5px 0}
.form_table_st01 td.pd_0{padding:0}

