#btnBox {
	background: rgb(232, 236, 241); padding: 7px 15px; width: 100%; text-align: right; margin-bottom: 15px; border-right-color: rgb(160, 170, 179); border-bottom-color: rgb(160, 170, 179); border-left-color: rgb(160, 170, 179); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: inline-block;
}
#btnBox2 {
	text-align: right; margin-bottom: 10px;
}
#btnBox3 {
	text-align: center; margin-top: 10px; margin-bottom: 10px;
}
* html #btnBox {
	width: 100%;
}
#gBtn6 a {
	background: url("../images/gBtn6_bg.gif") left 0px; font: 12px/normal ±¼¸²; height: 27px; color: rgb(85, 85, 85); overflow: hidden; padding-left: 6px; text-decoration: none; margin-right: 3px; float: left; display: block; cursor: pointer; font-size-adjust: none; font-stretch: normal;
}
#gBtn6 a:hover {
	background: url("../images/gBtn6_bg.gif") left -27px;
}
#gBtn6 a span {
	background: url("../images/gBtn6_bg.gif") right 0px; height: 27px; line-height: 240%; overflow: hidden; padding-right: 6px; float: left; display: block;
}
#gBtn6 a:hover span {
	background: url("../images/gBtn6_bg.gif") right -27px; color: rgb(10, 130, 167);
}
.btnWrap {
	margin-top: 15px;
}
.btn_pack {
	background: url("../images/btn_pack.gif") no-repeat; margin: 0px; padding: 0px; border: 0px currentColor; color: rgb(53, 74, 94); overflow: visible; font-family: Arial, Sans-serif; font-size: 12px; font-weight: bold; text-decoration: none !important; vertical-align: top; display: inline-block; white-space: nowrap; position: relative;
}
.btn_pack * {
	background: url("../images/btn_pack.gif") no-repeat; margin: 0px; padding: 0px; border: 0px currentColor; color: rgb(53, 74, 94); overflow: visible; font-family: Arial, Sans-serif; font-size: 12px; font-weight: bold; text-decoration: none !important; vertical-align: top; display: inline-block; white-space: nowrap; position: relative;
}
.w100 a {
	width: 82px;
}
.btn_pack {
	margin-right: 4px;
}
.btn_pack * {
	left: 4px; cursor: pointer; _cursor: hand;
}
.small.btn_pack {
	height: 21px; line-height: 22px;
}
.small.btn_pack * {
	height: 21px; line-height: 22px;
}
.medium.btn_pack {
	height: 27px; line-height: 27px;
}
.medium.btn_pack * {
	height: 27px; line-height: 27px;
}
.small.btn_pack {
	
}
.medium.btn_pack {
	background-position: left -25px;
}
.small.btn_pack * {
	background-position: right top; padding: 0px 9px 0px 5px; font-size: 12px;
}
.medium.btn_pack * {
	background-position: right -25px; padding: 0px 15px 0px 10px; font-size: 12px;
}
.btn_pack *:link {
	color: rgb(53, 74, 94);
}
.btn_pack *:hover {
	color: rgb(53, 74, 94);
}
.btn_pack *:active {
	color: rgb(53, 74, 94);
}
.btn_pack *:focus {
	color: rgb(53, 74, 94);
}
.btn_pack *:visited {
	color: rgb(53, 74, 94);
}
.strong.btn_pack * {
	font-weight: bold !important;
}
.icon.btn_pack * {
	padding-left: 20px;
}
.icon.small.btn_pack * {
	padding-left: 18px;
}
.small.btn_pack span {
	padding: 0px !important; width: 20px; margin-right: -12px;
}
.medium.btn_pack span {
	padding: 0px !important; width: 24px; margin-right: -13px;
}
.small.btn_pack .accept {
	background-position: -145px -60px;
}
.small.btn_pack .add {
	background-position: -173px -60px;
}
.small.btn_pack .answer {
	background-position: -257px -60px;
}
.small.btn_pack .approval {
	background-position: -427px -60px;
}
.small.btn_pack .assign2 {
	background-position: -60px -145px;
}
.small.btn_pack .app {
	background-position: -257px -88px;
}
.small.btn_pack .app_add {
	background-position: -286px -88px;
}
.small.btn_pack .app_del {
	background-position: -315px -88px;
}
.small.btn_pack .app_edit {
	background-position: -344px -88px;
}
.small.btn_pack .app_double {
	background-position: -373px -88px;
}
.small.btn_pack .app_cascade {
	background-position: -400px -88px;
}
.small.btn_pack .assignto {
	background-position: -203px -88px;
}
.small.btn_pack .back {
	background-position: -59px -88px;
}
.small.btn_pack .browse {
	background-position: -3px -88px;
}
.small.btn_pack .bottom {
	background-position: -62px -116px;
}
.small.btn_pack .close {
	background-position: -91px -145px;
}
.small.btn_pack .cancel {
	background-position: -343px -60px;
}
.small.btn_pack .category {
	background-position: -201px -60px;
}
.small.btn_pack .create {
	background-position: -402px -60px;
}
.small.btn_pack .copy {
	background-position: -287px -60px;
}
.small.btn_pack .confirm {
	background-position: -145px -60px;
}
.small.btn_pack .certificate {
	background-position: -88px -118px;
}
.small.btn_pack .certificate2 {
	background-position: -118px -118px;
}
.small.btn_pack .check {
	background-position: -405px -118px;
}
.small.btn_pack .compose {
	background-position: -33px -88px;
}
.small.btn_pack .delete {
	background-position: -87px -60px;
}
.small.btn_pack .download {
	background-position: -515px -60px;
}
.small.btn_pack .delegation {
	background-position: -287px -117px;
}
.small.btn_pack .download_template {
	background-position: -36px -143px;
}
.small.btn_pack .detail {
	background-position: -545px -117px;
}
.small.btn_pack .excel {
	background-position: -145px -88px;
}
.small.btn_pack .excute {
	background-position: -231px -117px;
}
.small.btn_pack .edit {
	background-position: -570px -60px;
}
.small.btn_pack .find {
	background-position: 0px -60px;
}
.small.btn_pack .group {
	background-position: -573px -117px;
}
.small.btn_pack .history {
	background-position: -514px -88px;
}
.small.btn_pack .icon_save {
	background-position: -6px -144px;
}
.small.btn_pack .list {
	background-position: -372px -60px;
}
.small.btn_pack .login {
	background-position: -4px -172px;
}
.small.btn_pack .load {
	background-position: -91px -87px;
}
.small.btn_pack .lock {
	background-position: -174px -88px;
}
.small.btn_pack .modify {
	background-position: -570px -60px;
}
.small.btn_pack .mass_registration {
	background-position: -260px -117px;
}
.small.btn_pack .more {
	background-position: -318px -117px;
}
.small.btn_pack .map {
	background-position: -229px -88px;
}
.small.btn_pack .next {
	background-position: -119px -144px;
}
.small.btn_pack .newrequest {
	background-position: -89px -88px;
}
.small.btn_pack .ok {
	background-position: -486px -88px;
}
.small.btn_pack .opposition {
	background-position: -456px -60px;
}
.small.btn_pack .print {
	background-position: -429px -89px;
}
.small.btn_pack .pdf {
	background-position: -175px -117px;
}
.small.btn_pack .request {
	background-position: -542px -89px;
}
.small.btn_pack .rename {
	background-position: -460px -117px;
}
.small.btn_pack .retry {
	background-position: -486px -117px;
}
.small.btn_pack .reload {
	background-position: -515px -117px;
}
.small.btn_pack .reset {
	background-position: -30px -60px;
}
.small.btn_pack .revise {
	background-position: -542px -60px;
}
.small.btn_pack .save {
	background-position: -60px -60px;
}
.small.btn_pack .synchro {
	background-position: -456px -88px;
}
.small.btn_pack .submit {
	background-position: -60px -60px;
}
.small.btn_pack .search {
	background-position: 0px -60px;
}
.small.btn_pack .setup {
	background-position: -201px -60px;
}
.small.btn_pack .send {
	background-position: -433px -117px;
}
.small.btn_pack .temsave {
	background-position: -117px -88px;
}
.small.btn_pack .top {
	background-position: -32px -116px;
}
.small.btn_pack .update {
	background-position: -487px -60px;
}
.small.btn_pack .unlock {
	background-position: -145px -117px;
}
.medium.btn_pack .accept {
	background-position: -142px -58px;
}
.medium.btn_pack .add {
	background-position: -170px -58px;
}
.medium.btn_pack .answer {
	background-position: -254px -58px;
}
.medium.btn_pack .approval {
	background-position: -427px -58px;
}
.medium.btn_pack .assign2 {
	background-position: -61px -143px;
}
.medium.btn_pack .app {
	background-position: -254px -86px;
}
.medium.btn_pack .app_add {
	background-position: -283px -86px;
}
.medium.btn_pack .app_del {
	background-position: -312px -86px;
}
.medium.btn_pack .app_edit {
	background-position: -341px -86px;
}
.medium.btn_pack .app_double {
	background-position: -373px -85px;
}
.medium.btn_pack .app_cascade {
	background-position: -400px -86px;
}
.medium.btn_pack .back {
	background-position: -57px -86px;
}
.medium.btn_pack .browse {
	background-position: 0px -86px;
}
.medium.btn_pack .bottom {
	background-position: -59px -114px;
}
.medium.btn_pack .close {
	background-position: -88px -142px;
}
.medium.btn_pack .cancel {
	background-position: -340px -58px;
}
.medium.btn_pack .category {
	background-position: -198px -58px;
}
.medium.btn_pack .create {
	background-position: -398px -58px;
}
.medium.btn_pack .copy {
	background-position: -284px -58px;
}
.medium.btn_pack .confirm {
	background-position: -142px -58px;
}
.medium.btn_pack .certificate {
	background-position: -85px -116px;
}
.medium.btn_pack .certificate2 {
	background-position: -115px -116px;
}
.medium.btn_pack .check {
	background-position: -402px -115px;
}
.medium.btn_pack .compose {
	background-position: -30px -86px;
}
.medium.btn_pack .delete {
	background-position: -84px -58px;
}
.medium.btn_pack .download {
	background-position: -515px -57px;
}
.medium.btn_pack .delegation {
	background-position: -284px -115px;
}
.medium.btn_pack .download_template {
	background-position: -33px -141px;
}
.medium.btn_pack .detail {
	background-position: -542px -115px;
}
.medium.btn_pack .excel {
	background-position: -141px -86px;
}
.medium.btn_pack .excute {
	background-position: -228px -115px;
}
.medium.btn_pack .edit {
	background-position: -567px -58px;
}
.medium.btn_pack .find {
	background-position: 0px -58px;
}
.medium.btn_pack .group {
	background-position: -570px -115px;
}
.medium.btn_pack .history {
	background-position: -511px -86px;
}
.medium.btn_pack .icon_save {
	background-position: -3px -141px;
}
.medium.btn_pack .list {
	background-position: -369px -58px;
}
.medium.btn_pack .login {
	background-position: -3px -170px;
}
.medium.btn_pack .load {
	background-position: -88px -85px;
}
.medium.btn_pack .lock {
	background-position: -171px -86px;
}
.medium.btn_pack .modify {
	background-position: -567px -58px;
}
.medium.btn_pack .mass_registration {
	background-position: -257px -115px;
}
.medium.btn_pack .more {
	background-position: -315px -115px;
}
.medium.btn_pack .map {
	background-position: -226px -86px;
}
.medium.btn_pack .next {
	background-position: -116px -141px;
}
.medium.btn_pack .newrequest {
	background-position: -86px -86px;
}
.medium.btn_pack .ok {
	background-position: -483px -86px;
}
.medium.btn_pack .opposition {
	background-position: -456px -58px;
}
.medium.btn_pack .print {
	background-position: -426px -86px;
}
.medium.btn_pack .pdf {
	background-position: -172px -115px;
}
.medium.btn_pack .request {
	background-position: -540px -86px;
}
.medium.btn_pack .rename {
	background-position: -458px -115px;
}
.medium.btn_pack .retry {
	background-position: -486px -115px;
}
.medium.btn_pack .reload {
	background-position: -515px -115px;
}
.medium.btn_pack .reset {
	background-position: -27px -58px;
}
.medium.btn_pack .revise {
	background-position: -539px -58px;
}
.medium.btn_pack .save {
	background-position: -57px -57px;
}
.medium.btn_pack .synchro {
	background-position: -453px -86px;
}
.medium.btn_pack .submit {
	background-position: -57px -57px;
}
.medium.btn_pack .search {
	background-position: 0px -58px;
}
.medium.btn_pack .setup {
	background-position: -198px -58px;
}
.medium.btn_pack .send {
	background-position: -430px -115px;
}
.medium.btn_pack .temsave {
	background-position: -115px -86px;
}
.medium.btn_pack .top {
	background-position: -29px -114px;
}
.medium.btn_pack .update {
	background-position: -484px -58px;
}
.medium.btn_pack .unlock {
	background-position: -142px -115px;
}
a.cm-btn-grid {
	overflow: hidden; background-image: url("../img/bg_btn_grid.png");
}
a.cm-btn-grid span {
	overflow: hidden; background-image: url("../img/bg_btn_grid.png");
}
a.cm-btn-grid {
	background-position: right -20px; height: 20px; padding-right: 3px; display: inline-block; position: relative;
}
a.cm-btn-grid span {
	padding: 5px 5px 0px 21px; height: 15px; color: rgb(54, 54, 54); font-size: 11px; display: block;
}
a.cm-btn-grid em {
	left: 7px; top: 50%; position: absolute;
}
a.cm-btn-text span {
	padding: 5px 5px 0px 8px;
}
