@import url( button.css );
html {
	height: 100%;
}
body {
	height: 100%;
}
body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
select {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
fieldset {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
dl {
	list-style: none;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
menu {
	list-style: none;
}
li {
	list-style: none;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
body {
	background: rgb(255, 255, 255); position: relative; -webkit-text-size-adjust: none;
}
body {
	color: rgb(70, 70, 70); line-height: 1.5; font-family: "µ¸¿ò"; font-size: 12px;
}
th {
	color: rgb(70, 70, 70); line-height: 1.5; font-family: "µ¸¿ò"; font-size: 12px;
}
td {
	color: rgb(70, 70, 70); line-height: 1.5; font-family: "µ¸¿ò"; font-size: 12px;
}
input {
	color: rgb(70, 70, 70); line-height: 1.5; font-family: "µ¸¿ò"; font-size: 12px;
}
select {
	color: rgb(70, 70, 70); line-height: 1.5; font-family: "µ¸¿ò"; font-size: 12px;
}
textarea {
	color: rgb(70, 70, 70); line-height: 1.5; font-family: "µ¸¿ò"; font-size: 12px;
}
button {
	color: rgb(70, 70, 70); line-height: 1.5; font-family: "µ¸¿ò"; font-size: 12px;
}
address {
	font-style: normal; font-weight: normal;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
em {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
img {
	border: 0px currentColor;
}
button {
	border: 0px currentColor;
}
table {
	border-collapse: collapse;
}
button * {
	position: relative;
}
button {
	border: 0px currentColor; cursor: pointer; background-color: transparent;
}
em {
	font-style: normal;
}
address {
	font-style: normal;
}
textarea {
	resize: none;
}
caption {
	display: none;
}
input {
	
}
textarea {
	
}
select {
	
}
input {
	vertical-align: middle;
}
select {
	vertical-align: middle;
}
textarea {
	vertical-align: middle;
}
button {
	vertical-align: middle;
}
select {
	border: 1px solid rgb(173, 173, 173); height: 19px;
}
input.check_st01 {
	margin-right: 3px; margin-bottom: 3px;
}
input.cm-input-text {
	height: 19px; line-height: 19px;
}
input.cm-input-text-dis {
	height: 19px; line-height: 19px;
}
input.cm-input-text {
	border-width: 1px; border-style: solid; border-color: rgb(173, 173, 173) rgb(205, 205, 205) rgb(205, 205, 205) rgb(173, 173, 173); background-color: rgb(255, 255, 255);
}
input.cm-input-text-dis {
	border-width: 1px; border-style: solid; border-color: rgb(214, 214, 214) rgb(230, 230, 230) rgb(230, 230, 230) rgb(214, 214, 214); color: rgb(164, 164, 164); background-color: rgb(249, 249, 249);
}
textarea.cm-textarea {
	padding: 2px 0px; line-height: 1.25em;
}
textarea.cm-textarea-dis {
	padding: 2px 0px; line-height: 1.25em;
}
textarea.cm-textarea {
	border-width: 1px; border-style: solid; border-color: rgb(173, 173, 173) rgb(205, 205, 205) rgb(205, 205, 205) rgb(173, 173, 173); background-color: rgb(255, 255, 255);
}
textarea.cm-textarea-dis {
	border-width: 1px; border-style: solid; border-color: rgb(214, 214, 214) rgb(230, 230, 230) rgb(230, 230, 230) rgb(214, 214, 214); color: rgb(164, 164, 164); background-color: rgb(249, 249, 249);
}
input.cm-focus {
	border: 1px solid rgb(125, 167, 217);
}
textarea.cm-focus {
	border: 1px solid rgb(125, 167, 217);
}
select.cm-select {
	height: 21px;
}
a {
	color: rgb(53, 119, 232); text-decoration: none;
}
a:active {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}
html {
	min-height: 600px; min-width: 1260px;
}
body {
	min-height: 600px; min-width: 1260px;
}
h4 {
	margin-top: 5px;
}
h5 {
	margin-top: 5px;
}
h6 {
	margin-top: 5px;
}
h3 {
	background: url("../images/bullet.png") no-repeat; color: rgb(10, 54, 127); padding-left: 25px; font-size: 1.4em;
}
h4 {
	background: url("../images/bullet2.png") no-repeat left 0px; line-height: 1.3em; padding-top: 1px; padding-left: 20px; font-size: 1em; vertical-align: middle;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 1em;
}
h1 img {
	margin-top: 15px; margin-left: 10px; vertical-align: top;
}
#daumIndex {
	margin: 0px; padding: 0px; left: -9999px; width: 0px; height: 1px; overflow: hidden; position: absolute;
}
.ir_pm {
	line-height: 0; text-indent: -9999px; overflow: hidden; font-size: 0px; display: block;
}
.ir_wa {
	width: 100%; height: 100%; overflow: hidden; display: block; position: relative; z-index: -1;
}
.screen_out {
	left: -9999px; width: 1px; height: 1px; line-height: 0; text-indent: -9999px; overflow: hidden; font-size: 0px; display: block; position: absolute;
}
.screen_hide {
	line-height: 0; font-size: 0px; visibility: hidden;
}
.f_l {
	float: left !important;
}
.f_r {
	float: right !important;
}
.cl_b {
	width: 0px; height: 0px; line-height: 0; clear: both; font-size: 0px;
}
.show {
	display: block;
}
.hide {
	display: none;
}
.wrap_page {
	width: 100%; overflow: hidden;
}
.txt_des {
	display: block;
}
.align_left {
	text-align: left;
}
.align_center {
	text-align: center;
}
.align_right {
	text-align: right;
}
.c_both {
	clear: both;
}
.nobg {
	
}
body {
	background: url("../images/bg.png");
}
#wrap {
	width: 100%;
}
#header {
	width: 100%;
}
#container {
	width: 100%; _display: inline-block;
}
#container::after {
	clear: both; display: block; content: "";
}
.snb {
	background: rgb(255, 255, 255); width: 188px; margin-right: -200px; float: left;
}
#content {
	padding: 15px 20px; margin-right: 12px; margin-left: 200px;
}
#footer {
	width: 100%;
}
#header {
	background: url("../images/gnb_bg.png") repeat-x; height: 95px;
}
#header {
	width: auto;
}
#container {
	padding: 20px 0px 25px;
}
.snb {
	background: rgb(255, 255, 255);
}
#content {
	background: rgb(255, 255, 255);
}
#content {
	min-height: 600px;
}
#footer {
	background: rgb(229, 229, 229); padding: 10px; border: 2px solid rgb(191, 191, 191); width: auto;
}
.topmenu {
	border: 1px solid rgb(187, 187, 187); top: 5px; right: 8px; position: absolute;
}
.topmenu li {
	background: url("../images/topmenu_li_bg.png") no-repeat right top; padding: 4px 8px 0px; letter-spacing: -1px; font-size: 11px; vertical-align: top; float: left;
}
.topmenu li a {
	color: rgb(51, 51, 51); text-decoration: none;
}
.topmenu li a:hover {
	color: rgb(0, 84, 166); letter-spacing: -2px; font-weight: bold;
}
.topmenu li img {
	margin-top: -3px; margin-right: 4px; vertical-align: middle;
}
.topmenu li.nobg {
	
}
.topmenu .first {
	
}
.topmenu .last {
	background: url("../images/top_m_right.png") no-repeat right top;
}
.gnb_m {
	background: url("../images/ggnb_top_bg.png") repeat-x 217px 0px; left: 200px; top: 50px; width: 100%; height: 41px; position: absolute;
}
.gnb_s {
	background: url("../images/navi.png") no-repeat;
}
.gnb_s li {
	float: left;
}
.gnb_s li a span {
	display: none;
}
.gnb_s .n01 {
	background: url("../images/gnb_tt.png") no-repeat; width: 127px; height: 34px; color: rgb(195, 214, 218); padding-top: 7px; padding-left: 50px;
}
.gnb_s .n01 strong {
	color: rgb(255, 255, 255); font-size: 14px;
}
.gnb_s .n02 a {
	background-position: -176px 0px; width: 108px;
}
.gnb_s .n02 a:hover {
	background-position: -176px -41px; width: 108px;
}
.gnb_s .n03 a {
	background-position: -286px 0px; width: 105px;
}
.gnb_m .n03 a:hover {
	background-position: -286px -41px; width: 105px;
}
.gnb_m .n04 a {
	background-position: -380px 0px; width: 105px;
}
.gnb_m .n04 a:hover {
	background-position: -380px -41px; width: 105px;
}
.gnb_m .n05 a {
	background-position: -494px 0px; width: 110px;
}
.gnb_m .n05 a:hover {
	background-position: -494px -41px; width: 110px;
}
.gnb_m .n06 a {
	background-position: -603px 0px; width: 102px;
}
.gnb_m .n06 a:hover {
	background-position: -603px -41px; width: 102px;
}
.gnb_m .n07 a {
	background-position: -704px 0px; width: 124px;
}
.gnb_m .n07 a:hover {
	background-position: -704px -41px; width: 124px;
}
.navi {
	top: 31px; right: 1px; position: absolute;
}
.navi li {
	padding: 4px 8px 1px; letter-spacing: -1px; font-size: 11px; vertical-align: top; float: left;
}
.navi {
	overflow: hidden;
}
.navi_s {
	background: url("../images/navi_bg.png") repeat-x 80px 4px; list-style: none; margin: 0px; padding: 0px; height: 41px; overflow: hidden; float: left;
}
.navi_s li {
	float: left;
}
.navi_s li a span {
	display: none;
}
.navi_s li a {
	background: url("../images/navi.png") no-repeat;
}
.navi_s li a {
	width: 100px; height: 41px; display: block;
}
.navi_txt {
	float: left;
}
.navi_txt em {
	color: rgb(0, 0, 102); font-weight: bold;
}
.navi .n01 {
	background: url("../images/gnb_tt.png") no-repeat; width: 177px; height: 41px;
}
.navi .n02 a {
	background-position: -176px 0px; width: 108px;
}
.navi .n02 a:hover {
	background-position: -176px -41px; width: 108px;
}
.navi .n03 a {
	background-position: -286px 0px; width: 105px;
}
.navi .n03 a:hover {
	background-position: -286px -41px; width: 105px;
}
.navi .n04 a {
	background-position: -380px 0px; width: 105px;
}
.navi .n04 a:hover {
	background-position: -380px -41px; width: 105px;
}
.navi .n05 a {
	background-position: -494px 0px; width: 110px;
}
.navi .n05 a:hover {
	background-position: -494px -41px; width: 110px;
}
.navi .n06 a {
	background-position: -603px 0px; width: 102px;
}
.navi .n06 a:hover {
	background-position: -603px -41px; width: 102px;
}
.navi .n07 a {
	background-position: -704px 0px; width: 124px;
}
.navi .n07 a:hover {
	background-position: -704px -41px; width: 124px;
}
.group_menu_v {
	background: rgb(255, 255, 255); width: 188px; float: left; position: relative;
}
.group_menu_v h2 {
	background: url("../images/sb_menu.png") no-repeat; height: 58px;
}
.group_menu_v ul {
	list-style: none; margin: 0px; padding: 0px;
}
.group_menu_v li {
	margin: 0px 0px -1px; vertical-align: top; position: relative;
}
.group_menu_v li a {
	background: url("../images/snb_bg.png") repeat-x; padding: 7px 17px 9px; color: rgb(40, 57, 65); font-size: 14px; font-weight: bold; text-decoration: none; display: block; position: relative;
}
.group_menu_v li a:hover {
	background: rgb(68, 68, 68); color: rgb(255, 255, 255);
}
.group_menu_v li a .i {
	background: url("../images/ico_sub.gif") no-repeat left top; margin: -4px 0px 0px -16px; left: 100%; top: 50%; width: 8px; height: 8px; position: absolute;
}
.group_menu_v li ul {
	background: rgb(232, 240, 243); padding: 5px 0px;
}
.group_menu_v li li {
	margin: 0px;
}
.group_menu_v li li a {
	background: url("../images/bullet_dot.png") no-repeat 17px 9px; padding: 2px 23px; border: 0px currentColor; color: rgb(55, 63, 66); font-size: 12px; font-weight: normal;
}
.group_menu_v li li a:hover {
	background: rgb(68, 68, 68); color: rgb(255, 255, 255);
}
.group_menu_v li li a span {
	color: rgb(102, 102, 102);
}
.group_menu_v li.active {
	border: 1px solid rgb(204, 204, 204); z-index: 2;
}
.group_menu_v li li.active {
	border: 0px currentColor;
}
.group_menu_v li.active a {
	border: 0px currentColor; color: rgb(0, 0, 0);
}
.group_menu_v li.active .i {
	background-position: 0px -44px;
}
.group_menu_v li.active li a {
	border: 0px currentColor;
}
.group_menu_v li.active ul {
	border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid; display: block;
}
.group_menu_v li.active li.active a span {
	color: rgb(65, 130, 210); letter-spacing: -1px; font-weight: bold;
}
ul.snb_b_area {
	width: 176px; margin-top: 85px; margin-left: 6px; position: relative;
}
ul.snb_b_area li {
	padding: 7px 7px 0px; border-right-color: rgb(204, 202, 202); border-left-color: rgb(204, 202, 202); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
ul.snb_b_area li.sbg {
	background: url("../images/snb_b_area_bg.png") repeat-x; height: 33px; color: rgb(0, 0, 0); padding-left: 53px; font-family: Verdana; font-weight: bold;
}
ul.snb_b_area li .refresh {
	top: -3px; right: -10px; position: absolute;
}
ul.snb_b_area li .tit_img {
	left: 10px; top: -3px; position: absolute;
}
ul.snb_b_area li a {
	
}
ul.snb_b_area li a:hover {
	
}
.snb_b_area_bottom {
	background: url("../images/snb_b_area_bottom.png") no-repeat; width: 176px; height: 15px; margin-bottom: 40px; margin-left: 6px; display: block;
}
.s_tbl01 {
	border: 1px solid rgb(168, 173, 203); width: 100%; font-family: "µ¸¿ò"; font-size: 12px; margin-bottom: 20px; border-collapse: collapse;
}
.s_tbl01 th {
	padding: 2px 3px; border: 1px solid rgb(168, 173, 203); text-align: center; color: rgb(51, 64, 141); font-weight: bold; background-color: rgb(219, 221, 233);
}
.s_tbl01 td {
	padding: 2px 5px; border: 1px solid rgb(168, 173, 203); text-align: center; font-weight: normal; background-color: rgb(255, 255, 255);
}
.s_tbl01 td.tl {
	text-align: left;
}
.s_tbl01 td.tc {
	text-align: center;
}
.s_tbl01 td.tr {
	text-align: right;
}
.s_tbl02 {
	border: 1px solid rgb(168, 173, 203); width: 100%; font-family: "µ¸¿ò"; font-size: 12px; margin-bottom: 7px; border-collapse: collapse;
}
.s_tbl02 th {
	padding: 2px 3px; border: 1px solid rgb(168, 173, 203); text-align: center; color: rgb(50, 63, 79); font-weight: bold; background-color: rgb(206, 215, 225);
}
.s_tbl02 td {
	padding: 2px 5px; border: 1px solid rgb(168, 173, 203); text-align: center; font-weight: normal; background-color: rgb(255, 255, 255);
}
.grid_5 {
	width: 5%;
}
.grid_10 {
	width: 10%;
}
.grid_15 {
	width: 15%;
}
.grid_20 {
	width: 20%;
}
.grid_25 {
	width: 25%;
}
.grid_30 {
	width: 30%;
}
.grid_35 {
	width: 35%;
}
.grid_40 {
	width: 40%;
}
.grid_45 {
	width: 45%;
}
.grid_48 {
	width: 48%;
}
.grid_50 {
	width: 50%;
}
.grid_55 {
	width: 55%;
}
.grid_60 {
	width: 60%;
}
.grid_65 {
	width: 65%;
}
.grid_70 {
	width: 70%;
}
.grid_75 {
	width: 75%;
}
.grid_80 {
	width: 80%;
}
.grid_85 {
	width: 85%;
}
.grid_90 {
	width: 90%;
}
.grid_95 {
	width: 95%;
}
.grid_area {
	background: rgb(244, 244, 244); padding: 12px; border: 1px solid rgb(235, 235, 235); text-align: center; color: rgb(51, 51, 51); font-family: Verdana; font-weight: bold; margin-top: 10px; margin-bottom: 15px; min-height: 150px;
}
.scrollbox2 {
	border: 1px solid rgb(160, 170, 179); width: 100%; height: 312px; text-align: left; overflow-y: scroll;
}
.list_table {
	border: 1px solid rgb(174, 174, 174); width: 100%; border-collapse: collapse;
}
.list_table th {
	background: rgb(218, 234, 240); border-width: 1px; border-style: solid; border-color: rgb(91, 141, 176) rgb(194, 198, 204) rgb(194, 198, 204); text-align: center;
}
.list_table th {
	padding: 3px 3px 1px;
}
.list_table td {
	padding: 2px 3px 1px; border: 1px solid rgb(220, 220, 220);
}
.list_table img {
	vertical-align: middle;
}
.list_table span {
	vertical-align: middle;
}
.list_table td a:hover {
	text-decoration: underline;
}
.list_table th.date {
	width: 24px;
}
.list_table th.week {
	background: rgb(235, 235, 235); font-weight: 400 !important;
}
.list_table th.sat {
	background: rgb(235, 235, 235); color: rgb(0, 51, 153) !important; font-size: 11px; font-weight: 400 !important;
}
.list_table th.sun {
	background: rgb(235, 235, 235); color: rgb(255, 0, 51) !important; font-size: 11px; font-weight: 400 !important;
}
.list_table tr.total th {
	background: rgb(255, 253, 229) !important; border: 1px solid rgb(231, 231, 231); text-align: left; color: rgb(255, 84, 0);
}
.list_table th.total {
	background: rgb(255, 253, 229) !important; border: 1px solid rgb(231, 231, 231); text-align: left; color: rgb(255, 84, 0);
}
.list_table tr.total td {
	background: rgb(255, 253, 229) !important; text-align: right; color: rgb(255, 84, 0);
}
.list_table td.total {
	background: rgb(255, 253, 229) !important; text-align: right; color: rgb(255, 84, 0);
}
.list_table th.amount {
	background: rgb(255, 253, 229) !important; text-align: right; color: rgb(255, 84, 0);
}
.list_table tr.sub_total th {
	background: rgb(249, 255, 229); border: 1px solid rgb(231, 231, 231); text-align: left;
}
.list_table th.sub_total {
	background: rgb(249, 255, 229); border: 1px solid rgb(231, 231, 231); text-align: left;
}
.list_table tr.sub_total td {
	background: rgb(249, 255, 229) !important; text-align: right;
}
.list_table td.sub_total {
	background: rgb(249, 255, 229) !important; text-align: right;
}
.list_table tr.line td {
	border-bottom-color: rgb(174, 174, 174); border-bottom-width: 1px; border-bottom-style: solid;
}
.list_table tr.alt th {
	background: rgb(237, 247, 251);
}
.list_table tr.over {
	background: rgb(240, 245, 249);
}
.list_table tr:hover td {
	background: rgb(240, 245, 249);
}
.list_table td.tc {
	text-align: center;
}
.list_table td.tr {
	text-align: right;
}
.list_table td.head1 {
	background: rgb(245, 251, 254);
}
.list_table td.head2 {
	background: rgb(248, 248, 246);
}
.list_table td.head3 {
	background: rgb(249, 249, 249);
}
.list_table td.graph {
	padding: 0px !important;
}
.list_table th input {
	vertical-align: middle;
}
.list_table td input {
	vertical-align: middle;
}
.over_none tr:hover td {
	
}
.over_none tr:hover td.head1 {
	background: rgb(248, 252, 254);
}
.over_none tr:hover td.head2 {
	background: rgb(248, 248, 248);
}
.over_none tr:hover td.head3 {
	background: rgb(249, 249, 249);
}
.list_table td.pagination {
	background: rgb(247, 247, 247); text-align: right;
}
.list_table td.pagination .btn_list_sm {
	margin-right: 5px; margin-left: -2px;
}
.list_table td.pagination select {
	margin-right: 5px;
}
.list_table td.pagination img {
	margin-right: 3px;
}
.list_table td.pagination .pt {
	margin-left: 10px;
}
.list_table td.pagination select {
	vertical-align: middle;
}
.list_table td.pagination img {
	vertical-align: middle;
}
.list_table td.pagination span {
	vertical-align: middle;
}
.form_table {
	width: 100%; margin-top: 4px; margin-bottom: 10px; border-collapse: collapse;
}
.form_table {
	border-width: 2px 1px 1px; border-style: solid; border-color: rgb(78, 91, 104) rgb(216, 213, 213) rgb(216, 213, 213);
}
.form_table th {
	padding: 4px 5px 2px; vertical-align: top; border-bottom-color: rgb(228, 228, 228); border-bottom-width: 1px; border-bottom-style: solid;
}
.form_table td {
	padding: 4px 5px 2px; vertical-align: top; border-bottom-color: rgb(228, 228, 228); border-bottom-width: 1px; border-bottom-style: solid;
}
.form_table th {
	background: rgb(239, 243, 248); color: rgb(51, 51, 51);
}
.form_table th.sub {
	background: url("../images/common/buls.gif") no-repeat 5px -207px rgb(255, 255, 255); color: rgb(79, 149, 167); padding-left: 11px;
}
.form_table th.sub02 {
	background: rgb(131, 172, 210); border: 1px solid rgb(63, 165, 190); color: rgb(255, 255, 255); padding-top: 15px;
}
.form_table tr.total {
	background: rgb(255, 253, 229); font-weight: bold; border-right-color: rgb(228, 228, 228); border-right-width: 1px; border-right-style: solid;
}
.border_b {
	border-right-color: rgb(0, 0, 0); border-right-width: 1px; border-right-style: solid;
}
.form_table tr.sub_line th.sub {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.form_table tr.sub_line td {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.form_s {
	border-width: 1px; border-style: solid; border-color: rgb(63, 165, 190) rgb(228, 228, 228) rgb(228, 228, 228);
}
.form_table td {
	vertical-align: middle; position: relative;
}
.form_table td img {
	vertical-align: middle;
}
.form_s th {
	background: rgb(243, 248, 250);
}
.form_table .total {
	color: rgb(255, 84, 0);
}
.form_table th.total {
	background: rgb(255, 251, 206);
}
.form_table td.total {
	background: rgb(255, 253, 229); text-align: right;
}
.form_table th.t003 {
	background: rgb(255, 253, 229); text-align: center;
}
.form_table td.img_seelct {
	vertical-align: middle;
}
.form_table td.img_seelct img {
	margin: 5px 0px; display: block;
}
.form_table td.pd_0 {
	padding: 0px;
}
.form_table td.t_location {
	color: rgb(0, 102, 204); font-weight: bold;
}
.form_table td.charge {
	text-align: right; color: rgb(82, 178, 160); font-weight: bold;
}
.form_table td.charge2 {
	text-align: right; color: rgb(243, 108, 79); font-weight: bold;
}
.r_btn {
	right: 7px; position: absolute;
}
.form_table td div .num01 {
	background: rgb(227, 140, 113); border: 1px solid rgb(220, 107, 81); width: 100%; color: rgb(255, 255, 255); line-height: 1.35em; font-weight: bold; vertical-align: middle; display: block;
}
.form_table td div .num02 {
	background: rgb(160, 198, 121); border: 1px solid rgb(143, 164, 122); color: rgb(255, 255, 255); line-height: 1.35em; font-weight: bold; vertical-align: middle;
}
.form_table td div .num03 {
	background: rgb(56, 103, 181); border: 1px solid rgb(117, 168, 197); color: rgb(255, 255, 255); line-height: 1.35em; font-weight: bold; vertical-align: middle;
}
.form_table td div .num04 {
	background: rgb(130, 130, 130); border: 1px solid rgb(130, 130, 130); color: rgb(255, 255, 255); line-height: 1.35em; font-weight: bold; vertical-align: middle;
}
.form_table td.tc {
	text-align: center;
}
.form_table td.tr {
	text-align: right;
}
.form_table_st01 {
	width: 100%; clear: both; margin-top: 10px; margin-bottom: 10px; border-collapse: collapse;
}
.form_table_st01 {
	border-width: 2px 1px 1px; border-style: solid; border-color: rgb(78, 91, 104) rgb(199, 191, 189) rgb(199, 191, 189);
}
.form_table_st01 th {
	padding: 4px 5px 2px; vertical-align: top; border-bottom-color: rgb(228, 228, 228); border-bottom-width: 1px; border-bottom-style: solid;
}
.form_table_st01 td {
	padding: 4px 5px 2px; vertical-align: top; border-bottom-color: rgb(228, 228, 228); border-bottom-width: 1px; border-bottom-style: solid;
}
.form_table_st01 th {
	background: rgb(254, 229, 221); color: rgb(51, 51, 51);
}
.form_table_st01 th.sub {
	background: url("../images/common/buls.gif") no-repeat 5px -207px rgb(255, 255, 255); color: rgb(79, 149, 167); padding-left: 11px;
}
.form_table_st01 tr.sub_line th.sub {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.form_table_st01 tr.sub_line td {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.form_s {
	border-width: 1px; border-style: solid; border-color: rgb(63, 165, 190) rgb(228, 228, 228) rgb(228, 228, 228);
}
.form_s th {
	background: rgb(243, 248, 250);
}
.form_table_st01 .total {
	color: rgb(255, 84, 0);
}
.form_table_st01 th.total {
	background: rgb(255, 251, 206);
}
.form_table_st01 td.total {
	background: rgb(255, 253, 229); text-align: right;
}
.form_table_st01 td.img_seelct {
	vertical-align: middle;
}
.form_table_st01 td.img_seelct img {
	margin: 5px 0px; display: block;
}
.form_table_st01 td.pd_0 {
	padding: 0px;
}
.form_table_st02 {
	width: 100%; line-height: 18px; font-family: "µ¸¿ò"; font-size: 12px; margin-bottom: 20px; border-top-color: rgb(54, 61, 77); border-top-width: 2px; border-top-style: solid; border-collapse: collapse;
}
.form_table_st02 th {
	padding: 2px 5px; border: 1px solid rgb(212, 213, 215); text-align: center; background-color: rgb(241, 240, 240);
}
.form_table_st02 td {
	padding: 2px 5px; border: 1px solid rgb(228, 228, 228); text-align: left; font-weight: normal; background-color: rgb(255, 255, 255);
}
.form_table_st02 td.tl {
	text-align: left;
}
.form_table_st02 td.tc {
	text-align: center;
}
.form_table_st02 td.tr {
	text-align: right;
}
.form_table_st03 {
	border: 1px solid rgb(103, 129, 154); width: 100%; line-height: 18px; font-family: "µ¸¿ò"; font-size: 12px; margin-top: 7px; border-collapse: collapse;
}
.form_table_st03 th {
	padding: 3px 5px; border: 1px solid rgb(103, 129, 154); text-align: center; color: rgb(255, 255, 255) !important; font-weight: bold; background-color: rgb(133, 176, 216);
}
.form_table_st03 td {
	padding: 3px 5px; border: 1px solid rgb(103, 129, 154); text-align: left; font-weight: normal; background-color: rgb(255, 255, 255);
}
.w_date {
	width: 80px; text-align: center;
}
.w_cnum {
	width: 52px;
}
.w_phonenum01 {
	width: 30px;
}
.w_phonenum02 {
	width: 40px;
}
.w_phonenum03 {
	width: 40px;
}
.w_year {
	width: 32px;
}
.w_time {
	width: 20px;
}
.w_user {
	width: 20px;
}
.w_100 {
	width: 99.8%;
}
.w_address {
	width: 100px;
}
.w_car {
	width: 110px;
}
.w_knum {
	width: 98px;
}
.lst_devreg {
	padding: 0px 0px 65px 1px;
}
.lst_devreg li {
	background: url("../images/bu.gif") no-repeat 0px 6px; color: rgb(102, 102, 102); line-height: 20px; padding-left: 8px; font-size: 11px;
}
.lst_devreg li em {
	color: rgb(248, 78, 18);
}
.paginate_regular {
	padding: 15px 0px; text-align: center; line-height: normal;
}
.paginate_regular a {
	margin: 0px -2px; padding: 2px 8px; color: rgb(51, 51, 51); line-height: normal; font-family: Tahoma, Sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; vertical-align: middle; display: inline-block; position: relative;
}
.paginate_regular strong {
	margin: 0px -2px; padding: 2px 8px; color: rgb(51, 51, 51); line-height: normal; font-family: Tahoma, Sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; vertical-align: middle; display: inline-block; position: relative;
}
.paginate_regular a:hover {
	background-color: rgb(248, 248, 248);
}
.paginate_regular a:active {
	background-color: rgb(248, 248, 248);
}
.paginate_regular a:focus {
	background-color: rgb(248, 248, 248);
}
.paginate_regular strong {
	color: rgb(255, 102, 0);
}
.paginate_regular .direction {
	color: rgb(118, 118, 118); font-weight: normal; white-space: nowrap;
}
.paginate_regular .direction span {
	font-size: 14px; font-weight: bold;
}
.paginate_regular .direction:hover {
	color: rgb(51, 51, 51); background-color: rgb(255, 255, 255);
}
.paginate_regular .direction:active {
	color: rgb(51, 51, 51); background-color: rgb(255, 255, 255);
}
.paginate_regular .direction:focus {
	color: rgb(51, 51, 51); background-color: rgb(255, 255, 255);
}
.i_graph {
	line-height: normal; white-space: nowrap; position: relative;
}
.i_graph .g_bar {
	background: rgb(233, 233, 233); margin: 0px; width: 100%; height: 12px; font-size: 11px; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; display: inline-block; position: relative; z-index: 2;
}
.i_graph .info_txt.g_bar {
	right: 0px; position: absolute; z-index: 99;
}
.i_graph .g_bar_cen {
	background: rgb(233, 233, 233); margin: 0px; width: 100%; height: 12px; font-size: 11px; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; display: inline-block; position: relative;
}
.i_graph .g_bar_last {
	background: rgb(233, 233, 233); margin: 0px; width: 100%; height: 12px; font-size: 11px; border-top-color: rgb(204, 204, 204); border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; display: inline-block; position: relative;
}
.i_graph .g_action {
	background: rgb(153, 166, 182); margin: -1px; border: 1px solid rgb(140, 155, 172); height: 14px; display: inline-block; position: relative;
}
.i_graph .g_bar2 {
	background: rgb(182, 205, 160); margin: 0px; width: 100%; height: 12px; font-size: 11px; border-top-color: rgb(145, 177, 115); border-bottom-color: rgb(145, 177, 115); border-left-color: rgb(145, 177, 115); border-top-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; display: inline-block; position: relative;
}
.i_graph .g_bar2_cen {
	background: rgb(182, 205, 160); margin: 0px; width: 100%; height: 12px; font-size: 11px; border-top-color: rgb(145, 177, 115); border-bottom-color: rgb(145, 177, 115); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; display: inline-block; position: relative;
}
.i_graph .g_bar2_last {
	background: rgb(182, 205, 160); margin: 0px; width: 100%; height: 12px; font-size: 11px; border-top-color: rgb(145, 177, 115); border-right-color: rgb(145, 177, 115); border-bottom-color: rgb(145, 177, 115); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; display: inline-block; position: relative;
}
.i_graph .g_action {
	background: rgb(172, 209, 135); margin: -1px; border: 1px solid rgb(140, 155, 172); height: 14px; display: inline-block; position: relative;
}
.tab2 {
	background: repeat-x 0px 100%; height: 29px; font-family: "µ¸¿ò",dotum; font-size: 12px; margin-top: 8px; margin-bottom: 10px; position: relative;
}
.tab2 ul.tab2 ul li {
	margin: 0px; padding: 0px;
}
.tab2 ul li {
	list-style: none;
}
.tab2 ul li {
	background: url("../images/bg_tab2_off.gif") no-repeat;
}
.tab2 ul li a {
	background: url("../images/bg_tab2_off.gif") no-repeat;
}
.tab2 ul li {
	line-height: 26px; margin-right: -1px; float: left;
}
.tab2 ul li a {
	background-position: 100% 0px; padding: 2px 16px 1px; color: rgb(102, 102, 102); font-weight: bold; text-decoration: none !important; display: inline-block; _padding: 3px 16px 0;
}
.tab2 ul li a:hover {
	color: rgb(0, 0, 0);
}
.tab2 ul li.on {
	background-image: url("../images/bg_tab2_on.gif");
}
.tab2 ul li.on a {
	background-image: url("../images/bg_tab2_on.gif");
}
.tab2 ul li.on a {
	color: rgb(51, 118, 184);
}
.photo {
	padding: 15px 12px 15px 15px; border: 1px solid rgb(204, 204, 204); width: 360px; overflow: hidden;
}
.photo_spot {
	margin: 5px 0px 10px 11px; width: 330px; height: 220px; position: relative;
}
.photo_spot img {
	display: block;
}
.photo_spot .dim {
	background: rgb(0, 0, 0); left: 0px; top: 107px; width: 248px; height: 16px; padding-top: 6px; filter: alpha(opacity=70); position: absolute; opacity: 0.7;
}
.photo_spot p {
	left: 0px; top: 107px; width: 248px; height: 16px; text-align: center; color: rgb(255, 255, 255); padding-top: 6px; font-size: 11px; position: absolute;
}
.photo_spot p a {
	color: rgb(255, 255, 255); display: block;
}
.m_photo_spot p a:visited {
	color: rgb(255, 255, 255); display: block;
}
.photo ul {
	width: 360px; overflow: hidden;
}
.photo ul li {
	margin: 0px 0px 5px 13px; width: 100px; float: left; display: inline;
}
